<div class="centered-container">
  <div class="search-box">
    <h1 class="title">Buscar Préstamo</h1>
    <div class="search-input" [formGroup]="searchForm">
      <input type="number" placeholder="Ingrese ID del cliente" formControlName="idCliente" class="form-control" />
      <button class="btn btn-search" (click)="buscarPrestamo()">Buscar</button>
    </div>

    <table class="results-table" *ngIf="prestamo">
      <thead>
        <tr>
          <th>ID Cliente</th>
          <th>Monto Solicitado</th>
          <th>Plazo Solicitado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ prestamo.idCliente }}</td>
          <td>{{ prestamo.montoSolicitado }}</td>
          <td>{{ prestamo.plazoSolicitado }} meses</td>
          <td>
            <button class="btn btn-approve" (click)="aprobarPrestamo()">✔</button>
            <button class="btn btn-reject" (click)="rechazarPrestamo()">✖</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

