<div class="menu-container">
  <div class="menu-box">
    <h1 class="menu-title">MENU</h1>
    <nav class="menu">
      <ul>
        <li><a (click)="navigateTo('listaClientes')">Listar clientes</a></li>
        <li><a (click)="navigateTo('solicitudPrestamo')">Solicitar prestamo</a></li>
        <li><a (click)="navigateTo('services')">Servicios</a></li>
        <li><a (click)="navigateTo('contact')">Contacto</a></li>
        <li><a (click)="navigateTo('faq')">FAQ</a></li>
      </ul>
    </nav>
  </div>
</div>
