
<div class="menu-container" >
  <div class="menu-box">
    <h1 class="menu-title">MENU</h1>
    <nav class="menu">
      <ul>
        <li><a (click)="navigateTo('listaClientes')">Listar clientes</a></li>
        <li><a (click)="navigateTo('solicitudPrestamo')">Solicitar prestamo</a></li>
        <li><a (click)="navigateTo('estadoPrestamos')">Estado Prestamo</a></li>
        <li><a (click)="navigateTo('informacionPrestamosAprobados')">Prestamos Aprobados</a></li>
        <li><a (click)="navigateTo('pagosAprobados')">Pagos</a></li>
      </ul>
    </nav>
  </div>
</div>


