<div class="loan-request-container">
  <div class="loan-request-box">
    <h1 class="loan-request-title">SOLICITUD DE PRÉSTAMO</h1>
    <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="idCliente">ID del Cliente</label>
        <input
          type="number"
          id="idCliente"
          class="form-control"
          formControlName="idCliente"
          required
        />
      </div>
      <div class="form-group">
        <label for="montoSolicitado">Monto Solicitado</label>
        <input
          type="number"
          id="montoSolicitado"
          class="form-control"
          formControlName="montoSolicitado"
          required
        />
      </div>
      <div class="form-group">
        <label for="plazoSolicitado">Plazo Solicitado (meses)</label>
        <input
          type="number"
          id="plazoSolicitado"
          class="form-control"
          formControlName="plazoSolicitado"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
    </form>
  </div>
</div>
