<div class="client-list-container">
  <div class="client-list-card">
    <h1 class="client-list-title">Lista de Clientes</h1>

    <!-- Tabla para listar los clientes -->
    <table class="client-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Usuario</th>
          <th>Correo Electrónico</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ cliente.nombreCliente }}</td>
          <td>{{ cliente.apellidoCliente }}</td>
          <td>{{ cliente.username }}</td>
          <td>{{ cliente.correoElectronico }}</td>
          <td>{{ cliente.numeroTelefono }}</td>
          <td>
            <button class="btn btn-edit" (click)="onEditCliente(cliente)">Editar</button>
            <button class="btn btn-delete" (click)="onDeleteCliente(cliente.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal para editar cliente -->
  <div class="modal" *ngIf="isEditing">
    <div class="modal-content">
      <h2>Editar Cliente</h2>
      <form (submit)="onUpdateCliente($event)">
        <div class="form-group">
          <label for="editNombreCliente">Nombre</label>
          <input
            type="text"
            id="editNombreCliente"
            [value]="editingCliente.nombreCliente"
            (input)="onInputChange($event, 'nombreCliente')"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="editApellidoCliente">Apellido</label>
          <input
            type="text"
            id="editApellidoCliente"
            [value]="editingCliente.apellidoCliente"
            (input)="onInputChange($event, 'apellidoCliente')"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="editCorreoElectronico">Correo Electrónico</label>
          <input
            type="email"
            id="editCorreoElectronico"
            [value]="editingCliente.correoElectronico"
            (input)="onInputChange($event, 'correoElectronico')"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label for="editNumeroTelefono">Teléfono</label>
          <input
            type="text"
            id="editNumeroTelefono"
            [value]="editingCliente.numeroTelefono"
            (input)="onInputChange($event, 'numeroTelefono')"
            class="form-control"
            required
          />
        </div>

        <button type="submit" class="btn btn-save">Guardar Cambios</button>
        <button type="button" class="btn btn-cancel" (click)="closeModal()">Cancelar</button>
      </form>
    </div>
  </div>
</div>


